<div class="post">
  <div class="post-main row">
    <div class="span1">
	    <a href="http://www.facebook.com/<%= submission.user[:fbid] %>">
	      <img class="thumb" src="/assets/default-user.gif" data-src="http://graph.facebook.com/<%= submission.user[:fbid] %>/picture" width=75 height=75>
	    </a>
	  </div>
	  <div class="span-10">
	    <h2>
	      <a href="https://www.facebook.com/<%= submission[:post_id].split('_')[1] %>">
	        <%= submission[:link_title] %> 
	      </a>
	    </h2>
	    <span>
	      By <a href="http://www.facebook.com/<%= submission.user[:fbid] %>"> <%= submission.user[:name] %> </a> <%= distance_of_time_in_words_to_now submission[:created] %> ago.
	    </span> 
    </div>
  </div>
  <div class="clear" style="margin-bottom:20px"> </div>
  <div>
    <div class="post-meta">
      <% if submission.participants.count > 0 %>
        <div>
          <a href="https://www.facebook.com/<%= submission[:post_id] %>" style="float: right; padding-bottom: 10px;">
            <span id="<%= submission[:post_id] %>-like-count"><%= submission.participants.count %></span> liked this song!
          </a>
        </div>
        <div class="clearfix"> </div>
      <% end %>
      
      <ul class="participants" id="<%= submission[:post_id] %>-like-people">
    		<% submission.participants.each do |participant| %>
    		<li>
    		  <a href="http://www.facebook.com/<%= participant[:fbid] %>"  class="participant" rel="tooltip" title="<%= participant[:name] %>">
    		    <img src="/assets/default-user.gif" data-src="http://graph.facebook.com/<%= participant[:fbid] %>/picture?type=square" alt="<%= participant[:name] %>">
    		  </a>
    		</li>
    		<% end %>
    	</ul>
		
		<a class="like-button" id="<%= submission[:post_id] %>-like-action" href="/like?id=<%= submission[:post_id] %>">Like</a>
    </div>
  	
    <div class="video">
      <object width="560" height="315">
        <param name="movie"
        value="https://www.youtube.com/v/<%= submission.youtube_key %>?version=3&autohide=1&showinfo=0"></param>
        <param name="allowScriptAccess" value="always"></param>
        <embed src="https://www.youtube.com/v/<%= submission.youtube_key %>?version=3&autohide=1&showinfo=0"
          type="application/x-shockwave-flash"
          allowscriptaccess="always"
          width="560" height="315"></embed>
      </object>
    </div>
	</div>
	<div>Score : <%= submission.score %></div>
</div>
