<!DOCTYPE html>
<html>
<head>
  <title>Goyaka Radios</title>
  <link rel="icon"  href="/assets/favicon.ico" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>	
<div id="header-wrapper">
	<div id="header">
		<div class="logo-block">
			<h1>
				<a href="/" title="Goyaka Radios" id="logo">
					<img src="/assets/logo.png">
					Goyaka Radios
				</a>
			</h1>

		</div>
	</div>
</div>
<div id="content">
    <div id="content-inner">
       <%= yield %>
    </div>
	<% if user_signed_in? and current_user %>
	<script type="text/javascript">
	var current_user = { 'fbid' : '<%= current_user[:fbid] %>',
				 'name' : '<%= current_user[:name] %>' };
	</script>
	<% end %>
</div>
<div class="footer">
<div class="pet-project">Pet project of</div>
<a class="footer-logo" href="http://www.goyaka.com/" target="new"><span class="logo">Goyaka Labs</span></a>
<div><a href="mailto:support@goyaka.com">music@goyaka.com</a></div>
</div>
</body>
</html>
